<div class = "container-fuild">
<section id = "head-nav">
          <div class = "row">
                         <div class="top-header content-center">
                                    <h5 class = "text-header red-text upcased text-bold"> Aspiring Full Stack Web Developer</h5>
                                    <!-- <img class = "mandala" src = "<%= asset_path 'mandala-1778395_640.png'%>"  > -->
                         </div>

                    <div class=" title-align" >
                         <h3 class = "cursive-font white-text centered text-big"> Bandita Sharma </h3>
                    </div>

                        <div class = "navigation">
                                              <ul>
                                                <li class = "menu-red upcased"><a href = "#about"> About</a> </li>
                                                <li class = "menu-red upcased"><a href = "#work"> Work</a></li>
                                                <li class = "menu-red  upcased"><a href = "#contact"> Contact</a></li>
                                        </ul>
                     </div>
      </div>
</section>

<section id = "about">
     <!-- <div class="split-container"> -->
          <div class="split-right about-right">
               <div class = "row cursive-font white-text centered text-big">
                    <p> About</p>
               </div>

               <span>
               <div class = "row navigation" >
                              <ul>
                               <li class = "menu-black upcased"><a href = "#about"> About</a> </li>
                               <li class = "menu-black upcased"><a href = "#work"> Work</a></li>
                               <li class = "menu-black  upcased"><a href = "#contact"> Contact</a></li>
                              </ul>
               </div>
          </span>
          </div>

          <div class="split-left about-left">
               <div class = "description-container">
                    <div class = "row">
                         <div class = "col-sm-12">
                              <p class = "font-list-menu text-bold"> I am an aspiring full stack web developer from Sydney, Australia. </p>
                         </div>
                         <div class = "col-sm-12">
                              <p> Currently a student of Coder Factory Academy Bootcamp, I am exploring new languages and frameworks to be able to design and develop responsive and scalable web application.
                              I am extremely passionate about web development and design.</p>
                         </div>

                          <div class = "col-sm-12">
                               <h5 class = "font-list-menu text-bold"> My Development Stack:</h5>
                               <div class = "logo-wrapper" >
                                 <!-- parent of logo-display -->
                                 <div class = "logo-display">
                                      <i class="devicon-html5-plain-wordmark colored"></i>
                                 </div>

                                 <div class = "logo-display" width= 50px height= 50px>
                                      <i class="devicon-css3-plain-wordmark colored"></i>
                                 </div>

                                 <div class = "logo-display" width= 50px height= 50px>
                                      <i class="devicon-sass-original colored"></i>
                                 </div>

                                 <div class = "logo-display">
                                      <i class="devicon-bootstrap-plain-wordmark colored"></i>
                                 </div>

                                 <div class = "logo-display">
                                     <i class="devicon-git-plain-wordmark colored"></i>
                                 </div>

                                 <div class = "logo-display">
                                     <i class="devicon-javascript-plain colored"></i>
                                 </div>

                                 <div class = "logo-display">
                                    <i class="devicon-nodejs-plain-wordmark colored"></i>
                                 </div>

                                 <div class = "logo-display">
                                     <i class="devicon-ruby-plain-wordmark colored"></i>
                                 </div>

                                 <div class = "logo-display">
                                     <i class="devicon-rails-plain-wordmark colored"></i>
                                 </div>

                                 <div class = "logo-display">
                                     <i class="devicon-mongodb-plain-wordmark colored"></i>
                                 </div>

                               </div>
                          </div>

                         <div class = "col-sm-12">
                              <h5 class = "font-list-menu text-bold"> Hobbies & Interests:</h5>
                                   <div class = "flex-circle-container">
                                        <div class = "flex-circle">
                                                            <span class="glyphicon glyphicon-film"></span>
                                                            <p class ="glyphicon-text text-bold">Cinema</p>
                                        </div>

                                        <div class = "flex-circle">
                                                            <span class="glyphicon glyphicon-music"></span>
                                                            <p class ="glyphicon-text text-bold">Music</p>
                                        </div>

                                        <div class = "flex-circle">
                                                            <span class="glyphicon glyphicon-usd"></span>
                                                            <p class ="glyphicon-text text-bold">Money</p>
                                        </div>

                                   </div>
                         </div>
                    </div>

                    <div class = "row">
                         <div class = "col-sm-12">
                              <h5 class = "font-list-menu text-bold"> I believe in:</h5>
                              <h6 class = "upcased red-text text-bold handy-margin font-special"> Innovation</h6>
                              <h6 class = "upcased red-text text-bold handy-margin font-special"> Quality</h6>
                                <h6 class = "upcased red-text text-bold handy-margin font-special"> Team work & collaboration</h6>
                              <h6 class = "upcased red-text text-bold handy-margin font-special"> Learning & Development</h6>
                         </div>

                         <div class = "col-sm-12">
                             <h5 class = "font-list-menu text-bold"> Past Work Experience</h5>
                             <h6 class = "text-bold"> Team Member of records digitization projects (Two companies that I worked for are Grace Records Management and State Records Authority of NSW)</h6>
                             <!-- <p> I started my career as an intern social worker in World Vision International, Nepal. Then, I worked for a local community organisation, Volunteer's Initiative Nepal for about six months as an International volunteer Coordinator and another six months as Child Development Project Officer. -->
                            <!-- </p> -->
                            <h6 class = "text-bold"> Child Development Project Officer and International Volunteer Coordinator (Volunteers Initiative Nepal)</h6>
                            <h6 class = "text-bold"> Social Work Intern (World Vision Internatinal, Nepal)</h6>
                            <!-- <p> I have more than four years of experince</p> -->
                         </div>
                    </div>

               </div>

               </div>
          <!-- </div> -->
</section>

<section id = "work">
          <div class="split-right work-right">
               <div class = "row cursive-font centered text-big text-bold">
                    <p> Work</p>
               </div>

               <span>
               <div class = "row" >
                    <div class = "navigation">
                         <div class="container-fluid">
                              <ul>
                               <li class = "menu-black upcased"><a href = "pages/home"> Home</a> </li>
                               <li class = "menu-black upcased"><a href = "#about"> About</a></li>
                               <li class = "menu-black  upcased"><a href = "#work"> Work</a></li>
                              </ul>
                         </div>
                    </div>
               </div>
          </span>
          </div>

          <div class="split-left work-left">
               <div class = "description-container">
                  <h5 class = "font-list-menu text-bold text-center"> My Projects</h5>
                  <br>
                  <div class = "col-lg-10 col-lg-offset-3">
                      <a href = "https://dreamdoodledesign.herokuapp.com/"><img src = "http://res.cloudinary.com/dihqhbf9i/image/upload/v1492949154/about_us_sk9lab.png" width = "300px"></a>
                      <h6 class = "text-bold text-center"> Dream Doodle Design </h6>
                      </br>
                     <a href = "http://riseabovecodes.com/"><img src = "http://res.cloudinary.com/dihqhbf9i/image/upload/v1494162690/Logomakr_4OFI5m_ihuacy.png" width = "300px"></a>
                     <h6 class = "text-bold text-center"> Rise Above Codes </h6>
                     <br>
                    <a href = "http://riseabovecodes.com/projectTwo.html"><img src = "http://res.cloudinary.com/dihqhbf9i/image/upload/v1494137525/smileygame_tzb1je.png" width = "300px"></a>
                    <h6 class = "text-bold text-center"> Extra Smiley Game </h6>
            </div>
          </div>
     </div>
</section>

<section id = "contact">
          <div class="split-right contact-right">
               <div class = "row cursive-font white-text centered text-big">
                    <p> Contact</p>
               </div>

               <span>
               <div class = "row" >
                    <div class = "navigation">
                         <div class="container-fluid">
                              <ul>
                               <li class = "menu-black upcased"><a href = "pages/home"> Home</a> </li>
                               <li class = "menu-black upcased"><a href = "#about"> About</a></li>
                               <li class = "menu-black  upcased"><a href = "#work"> Work</a></li>
                              </ul>
                         </div>
                    </div>
               </div>
          </span>
          </div>

          <div class="split-left contact-left">
               <div class = "description-container">
                    <div class = "row middle-align">
                         <div class = "col-sm-12 contact-content">
                              <h5  class = "font-list-menu text-bold centered"> Email: fpbandita@gmail.com</h5>
                              <h5 class = "font-list-menu text-bold handy-margin centered"> Get in touch: </h5>
                                   <div class = "col-sm-12 social-media-icon">
                                        <a href = "https://www.facebook.com/bandita.sharma.33"><img src = "<%= asset_path('facebook.png')%>" </a>
                                        <a href = "https://twitter.com/BanditaSAcharya"><img src = "<%= asset_path('twitter.png')%>" </a>
                                        <a href = "https://www.linkedin.com/"><img src = "<%= asset_path('linkedin.png')%>" </a>
                                        <a href = "https://github.com/Bdita"><img src = "<%= asset_path('github.png')%>" </a>
                                   </div>
                         </div>
                    </div>
                </div>
          </div>
</section>

<!-- <section id = "footer">

</section> -->
</div>
